<mc-search (charactersNameEmitter)="onChangeFilter($event)"></mc-search>

<ng-container *ngIf="loading; else lista">
	<mc-loading></mc-loading>
</ng-container>

<ng-template #lista>
	<table>
		<colgroup>
			<col class="column__character">
			<col class="column__series hide-md">
			<col class="column__events hide-lg">
		</colgroup>

		<thead>
			<tr>
				<th scope="col" id="characters">Personagem</th>
				<th scope="col" id="series" class="hide-md">Séries</th>
				<th scope="col" id="events" class="hide-lg">Eventos</th>
			</tr>
		</thead>

		<tbody>
			<tr mc-character-item
				*ngFor="let character of characterList">
				(click)="openDetails(character.id)"
				[character]="character">
			</tr>
		</tbody>
	</table>

	<div class="pagination">
		<div class="arrow-back" [ngClass]="{'disabled':currentPage === 0}"></div>
		<div class="page"
			*ngFor="let page of pageCounter(); let i = index;"
			(click)="getCharactersPage(i)"
			[ngClass]="{'active':currentPage === i}"
		>
			{{i+1}}
		</div>
		<div class="arrow-next" [ngClass]="{'diseabled':currentPage === totalPages}"></div>
	</div>
</ng-template>
